.works{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 50vh;
    margin-top: 4rem;
}

@media screen and (max-width: 480px){

    .works{

        flex-direction: column;
        height: 55rem;
        padding: 0;
        gap: 5rem;

    }
}